@font-face
{
    font-family: AlexBrush;
    src: url('AlexBrush-Regular.ttf');
}

html
{
  background-image: url(rayures.jpg);
  font-style: bold;
  text-align: center;
}

body
{
  font-family: AlexBrush, serif;
  font-style: bold;
  margin : 0;
}

a
{
  text-decoration: none;
  font-size: 40px;
  display: block;
  margin : 10% 0%;
}

.lien-ajouter
{
  background-color: lightgreen;
  font-style: serif;
  color: purple;
  font-size: 60px;
  margin : 10% 0%;
  padding : 5% 10%;
  border-radius : 100%;
  display: inline;
}

.titreApplication
{
  color: purple;
  background-color: lightgreen;
  font-size: 80px;
}

.listeToDo
{
  list-style-type: none;
  -webkit-padding-start: 0px;
  padding : 10% 30%;
}

.itemToDo
{
  background-color: purple;
  font-size: 60px;
  margin : 10% 0;
  padding : 5% 0;
  border-radius : 50%;
}

.itemToDo:hover
{
  background-color: violet;
}

.lienToDo
{
  color: white;
  font-size: 60px;
}

.lienToDo:hover
{
  color: green;
}

#todo-nom
{
  font-size: 80px;
  display: block;
}

#todo-date
{
  font-size: 50px;
  display: block;
}

#todo-description
{
  font-size: 30px;
  display: block;
  margin-bottom : 20%;
}

.formulaire
{
  display: block;
  font-size: 40px;
}

input
{
  width: 50%;
  margin: auto;
}

textarea
{
  width: 60%;
  margin: auto;
}